<!-- views/home.ejs -->

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title><%= title %></title>
    </head>
    <body>
        <h1><%= greeting %></h1>
        <p>
            <a href="./about"><%= about %></a>
        </p>

        <p>
            <a href="./tweets"><%= tweets %></a>
        </p>
    </body>
</html>  